
@import "./mixin.scss";
.about_content{
  @include show-width;
  margin-top:50px;
  .img_about{
     img{width: 100%;}
  }
  .about_span{
    padding:20px 0px;
    h3{font-size: $h3_size;}
    span{
      display: inline-block;
      p{line-height: 24px;text-indent: 32px;margin-top: 20px;}
    }
  }
  .staff{
    margin-top: 40px;margin-bottom: 60px;
    h3{margin:40px auto;}
    .el-card{
      margin-bottom: 40px;
      img{width: 100%;display: block;}
      h4{margin-bottom: 10px;}
      p{@include fn-ellpisis; line-height: 24px;}
    }
  }
}

// about-end

.video-content{
  @include show-width;
  .nstructions{
  	font-size: 16px;
  	background: #f5f5f5;
  	margin:60px 0;
  	padding:30px 0;
  	p{line-height: 32px;padding-left: 30px;}
  }
  .video-content-list{
  	margin-bottom: 60px;
  	h3{font-size: $h3_size;}
  	.v-video,p{padding-top: 30px;padding-bottom: 20px;}
  	.v-video{
  		img{width: 100%;}
  	}
  	.v_select{
  		width: 100%;
  		.el-select{width: 100%;}
  	}
    .b_padd{
      margin: 20px 0;
    }
    .text1{
      position: relative;
      min-height: 436px;
      border:1px solid #ccc;padding:15px;
      p{line-height: 32px;color: #999;}
      .text_results{
        position:absolute;
        bottom:0;
        left: 0;
        width: 100%;
        height: 60px;
        background:#ff8888;
        p{
          padding-left:20px;
          line-height: 0px;color: #fff;
        }

      }
    }

  }

  .email_txt{
    margin:60px 0;
    h3{font-size: $h3_size;}
    .email_k{
      margin-top: 20px;
      .color_e{color: #0d86ec;}
      p{line-height: 20px;}
    }
  }
  .button_t{margin-top: 20px;}

}